body {
    background-color:azure;
}
title {
	font-family: 'Spicy Rice', cursive;
}
h1{
	font-family: 'Permanent Marker', cursive;
}
li{
	font-family: 'Permanent Marker', cursive;

}
a{
	font-family: 'Source Serif Pro'. serif; 
	
}